
body {
  background: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-dark {
  background: #000 !important;

}

.nav-link {
  color: #0070f3 !important;
}

.nav-item {
  color: #0070f3 !important;
}



@media (max-width: 768px) {
  .MainSecion_mainContainer__ICGzW {
    width: 98%;
    flex-direction: column;
}
.MainSecion_main_img__K0yJ9 {
  width: 600px;
  margin: auto;
}
.img_des {
  width: 220px !important;
}

.all {
  background: #202028;
  width: 209px;
  height: 179px;
  margin: auto;
  border-radius: 10px 0 0 0;
  transition: 1s all ease;
}
}





/* 
@media (max-width: 375px) {
  .Home_input__ZarWZ {
    width: 249px;
    padding: 15px;
    border-radius: 4px 0px 0px 4px;
    border: 0;
    outline: none;
    position: relative;
    z-index: 100;
} */

/* .img_des {
  width: 220px !important;
} */
/* }  */